@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11244f;
  --foreground: #171717;
  --font-saira-stencil-one: 'Saira Stencil One', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Old-school clock styles */
@font-face {
  font-family: 'Digital';
  src: url('/fonts/digital-7.ttf') format('truetype');
}

.oldschool-clock {
  background-color: #000;
  border: 2px solid #333;
  box-shadow: 0 0 10px white;
}

.oldschool-digits {
  font-family: 'Digital', monospace;
  color: white;
  text-shadow: 0 0 8px white;
  letter-spacing: -0.1rem;
}

h1 {
  font-family: var(--font-saira-stencil-one);
}
