@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11244f;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-black-ops-one), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Remove the @font-face for 'Digital' */

.oldschool-digits {
  font-family: monospace; /* Fallback to a standard monospace font */
  color: white;
  text-shadow: 0 0 8px white;
  letter-spacing: -0.1rem;
}

h1 {
  font-family: var(--font-saira-stencil-one);
}
